*{
	margin: 0;
	padding: 0;
}

header{
	height: 300px;
	background-color: #d7ccc8;

}

h1{
	text-align: center;
	margin: 0 auto;
	width: 100%;
	position: relative;
	top: 45px;
}

p{
	font-size: 30px;
	text-align: center;
}

.content{
	background-color: #f5f5f5;
	height: 500px;
}

.border{
	display: inline-block;
	border-right: 5px solid black;
	/*background-color: black;*/
	height: 500px;
	width: 480px;
	border-color: #9e9e9e;
	opacity: 80%;
}

.rightborder{
	display: inline-block;
	height: 500px;
	width: 455px;
}
