*{
	margin: 0;
	padding: 0;
}

header{
	height: 420px;
	background-color: #d7ccc8;

}

ul li{
	text-align: center;
	position: relative;
	font-size: 20px;
	top: 68px;
	line-height: 45px;
}

h1{
	text-align: center;
	margin: 0 auto;
	width: 100%;
	position: relative;
	top: 27px;
	font-family: "Arial"
}

h2{
	text-align: center;
	position: relative;
	top: 30px;
}


p{
	font-size: 20px;
	text-align: center;
	position: relative;
	top: 68px;
	width: 479px;
}

img{
	width: 80px;
	height: 67px;
}

header img{
	margin: 0 auto;
	width: 202px;
	height: 198px;
}

footer{
	width: 100%;
	height: 105px;
	background-color: #d7ccc8;
	opacity: 70%;
}

footer p{
	margin: 0 auto;
}

button{
	display: inline-block;
}

.checkbutton{
	background-color: #555555;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	width: 125px;
	position: relative;
	top: 83px;
	margin: 10px 175px;
}

.foto{
	margin: 42px 626px;
	position: relative;
	border-radius: 50%;
}

.content{
	background-color: #f5f5f5;
	height: 500px;
}

.border{
	display: inline-block;
	border-right: 5px solid black;
	height: 500px;
	width: 480px;
	border-color: #d7ccc8;
	opacity: 80%;
}

.about{
	position: relative;
	bottom: 33px;
}

.skills{
	position: relative;
	bottom: 115px;
}

.rightborder{
	display: inline-block;
	height: 500px;
	width: 458px;
}

.skillscontent{
	line-height: 50px;
}

.contact{
	margin: 50px 488px;
	position: relative;
	bottom: 153px;
}

.fotoicon{
	display: inline-block;
	height: 45px;
	width: 50px;
}
